<?xml version="1.0" encoding="UTF-8"?>
<included>
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="UNKNOWN"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %cyan([${appName}]) %cyan([%X{traceId:-SYSTEM},%X{spanId:-}]) %yellow([%X{method:-} %X{uri:-}]) %logger{36} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="KAFKA" class="com.github.danielwegener.logback.kafka.KafkaAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdc>true</includeMdc>
            <customFields>{"service_name":"${appName}"}</customFields>
        </encoder>

        <topic>spartahub-logs</topic>
        <producerConfig>bootstrap.servers=${BOOTSTRAP_SERVERS:-localhost:9092}</producerConfig>
        <producerConfig>acks=1</producerConfig>
        <producerConfig>linger.ms=1000</producerConfig>
        <fallbackAppenderRef ref="CONSOLE" />
    </appender>

    <appender name="ASYNC_KAFKA" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="KAFKA" />
        <queueSize>512</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <neverBlock>true</neverBlock>
        <maxFlushTime>5000</maxFlushTime>
    </appender>
</included>